html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#chart {
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden !important;
}

.node {
  stroke: black;
  stroke-width: 1.5px;
  fill: steelblue;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
